+b.pagination
    +e('ul').list
        +e('li').item
            +e('a')(href="" aria-label="В начало").link.--prev.--disabled В начало
            
        +e('li').item
            +e('a')(href="").link.--active 1

        +e('li').item
            +e('a')(href="").link 2

        +e('li').item
            +e('a')(href="").link 3

        +e('li').item
            +e('a')(href="").link 4

        +e('li').item
            +e('a')(href="").link.--delimeter ...

        +e('li').item
            +e('a')(href="").link 69

        +e('li').item
            +e('a')(href="" aria-label="В конец").link.--next В конец
