@import 'libs/jq-select.styl'

@import 'partials/header.styl'
@import 'partials/footer.styl'
@import 'partials/main.styl'

// @import 'blocks/form.styl'
// @import 'blocks/checkbox.styl'
// @import 'blocks/buttons.styl'
// @import 'blocks/popup.styl'
// @import 'blocks/common.styl'
// @import 'blocks/breads.styl'
