$mPortrait = '(min-width:320px)'
$mPortraitMax = '(max-width:479px)'
$mLandscapeMax = '(max-width:767px)'
$mLandscape = '(min-width:769px)'
$tPortraitMax = '(max-width:991px)'
$tLandscape = '(min-width:992px)'
$tLandscapeMax = '(max-width:1199px)'
$desktop = '(min-width:1200px)'

$bigDesktop = '(min-width:1648px)'

$baseFontFamily ='OpenSans', sans-serif
$baseFontSize = 15px
$baseLineHeight = 20px
$baseFontWeight = 400

$color = #1c1c1c