include includes/bemto/bemto.pug
include includes/__mixins

doctype html
html(lang="ru")
    - var title = "Главная"
    include includes/__head

    body.index
        .wrapper
            include includes/__header
            
            main.main
            
            include includes/__footer
