include includes/bemto/bemto.pug
include includes/__mixins

doctype html
html(lang="ru")
  - var title = "Главная"
  include includes/partials/head
  
  body
    .wrapper
      include includes/partials/header

      main.main
        .container
          button.js-burger burger
          nav.nav(style="width: 800px;height: 500px;background-color: rebeccapurple;display: none;")
        
      include includes/partials/footer
