.fancybox-button--close
    position relative
    width 40px
    height 40px
    top 45px
    right 45px
    background-color transparent

.fancybox-button--close:before, .fancybox-button--close:after
    background-color #fff
    content ""
    display block
    width 42px
    height 2px
    position absolute
    top 19px
    left 50%
    -webkit-transition all .3s
    transition all .3s

.fancybox-button--close svg {
    display: none
}

.fancybox-button--close:before {
    -webkit-transform: translateX(-50%) rotate(225deg)
    transform: translateX(-50%) rotate(225deg)
}

.fancybox-button--close:after {
    -webkit-transform: translateX(-50%) rotate(-225deg)
    transform: translateX(-50%) rotate(-225deg)
}

.fancybox-button--close:hover:before,
.fancybox-button--close:hover:after {
    background-color: rgba(#fff,.7)
}

.fancybox-bg{
    background-color: #1c91cf
    opacity: 1
}

.fancybox-is-open .fancybox-bg {
    opacity: 1
}

.fancybox-slide--html {
    padding: 0;
}

.fancybox-can-drag .fancybox-content
    cursor default
        
.fancybox-show-thumbs .fancybox-inner
    right 0
        
.fancybox-thumbs
    width 840px
    height 110px
    right auto
    top auto
    bottom 30px
    left 50%
    transform translateX(-50%)
    padding 0
    background-color transparent

.fancybox-thumbs > ul
    white-space nowrap
    
.fancybox-thumbs > ul > li
    width 157px !important
    height 105px !important
    background-color white	
    border 1px solid #e9ecf2
    border-radius 3px
    margin 0 6px
    float none !important
    display inline-block !important    
    
    &:first-child
        margin-left 0
        
    &:last-child
        margin-right 0		
    
    &.fancybox-thumbs-active
        border-color #45a5e4
        
        &:before
            border 2px solid #45a5e4
            
.fancybox-slide--image, .fancybox-slide--video
    padding-bottom 150px

.fancybox-button--arrow_left, .fancybox-button--arrow_right
    display block
    position relative
    font-size 0
    width 38px
    height 38px
    outline none
    border-radius 50%
    background-color #98cdf0
    transition background 0.3s
    opacity 1
    visibility visible
    
    &:before 
        content ''
        display block
        position absolute
        top 13px
        width 11px
        height 11px
        border-bottom 2px solid #fff
        transition left 0.3s, right 0.3s, border 0.3s
        
    &:hover
        background-color #0077d2
        
.fancybox-button--arrow_left&:before 
    left 14px
    border-left 2px solid #fff
    transform rotate(45deg)
    
.fancybox-button--arrow_right&:before 
    right 14px
    border-right 2px solid #fff
    transform rotate(-45deg)
        
.fancybox-navigation
    width 945px
    position absolute
    left 50%
    transform translateX(-50%)
    bottom 108px
    z-index 99995
    
.fancybox-button--arrow_left:after, .fancybox-button--arrow_right:after,
.fancybox-button--arrow_left svg, .fancybox-button--arrow_right svg{
    display: none;
    content: none;
}

.fancybox-thumbs-x::-webkit-scrollbar {width: 3px; height: 5px;}
.fancybox-thumbs-x::-webkit-scrollbar-button {background-color: transparent}
.fancybox-thumbs-x::-webkit-scrollbar-track {background-color: #999}
.fancybox-thumbs-x::-webkit-scrollbar-track-piece {background-color: #c9e2f5}
.fancybox-thumbs-x::-webkit-scrollbar-thumb { height: 50px; background-color: #0077d2; border-radius: 3px}
.fancybox-thumbs-x::-webkit-scrollbar-corner { background-color: #999}
.fancybox-thumbs-x::-webkit-resizer { background-color: #0077d2}