.btn
  display inline-block
  vertical-align top
  position relative
  font-family Roboto
  background-color red
  border-radius 4px
  color white
  font-size 15px
  font-weight 700
  line-height 19px
  white-space nowrap
  padding 18px 25px 18px
  outline none
  border none
  transition background .4s, color .4s

  &:hover
    background-color #e60202

  &--gray
    background-color #eee
    color #9d9d9d

    &:hover
      color grey
      background-color #e9e8e8
