+b('footer').footer

.hidden-block
  include ../__popups

script(type="text/javascript" src="static/js/vendor.js")
//script(type="text/javascript", src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
script(type="text/javascript" src="static/js/own.js")
